<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/css/style.css">
<div class="item large-12 columns" ng-repeat="todo in todos | orderBy: 'completed'" ng-init="todo.completed = false">
<div class="input-group">
  <div class="input-group-button">
    <input type="submit" class="button-submit" value="">
  </div>
    <input class="input-group-field" ng-change="todo.edited = true" ng-blur="editing = false;" ng-model="todo.name" placeholder="Some other bullshit" type="text">
  <div class="input-group-button">
    <input ng-click="deleteToDO(todo,$index)" type="submit" class="button-delete" value="">
  </div>
</div>
</div>
