<div class="item large-12 columns" ng-repeat="todo in todos">
    <div class="input-group">
        <div class="input-group-button">
            <div class="checkbox">
                <input type="checkbox" id="{{$index}}" ng-model="todo.completed" ng-click="editTask(todo)" />
                <label for="{{$index}}"></label>
            </div>
        </div>
        <input type="text" id="input-group-field" data-ng-change="editTask(todo)" ng-model="todo.title" placeholder="Some other bullshit" ng-style="getStyle(todo)" data-tooltip aria-haspopup="true" class="has-tip-right" title="{{todo.description}}">
        <div id="input-group-button" class="input-group-button">
            <button id="button-delete" ng-click="deleteTask(todo, $index)"></button>
        </div>
    </div>
</div>
